

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 85%;
  padding: 8px;
}

textarea {
  height: 250px;
}



button:hover {
  border: 2px solid black;
}


/**/

.out-level{
  color: #006699;
  font-size: 20px;

}
